* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   color: #333;
}

.logo img {
   width: 80px;
}

.navbar {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 10px 20px;
   width: 100%;
   border-bottom: 2px solid #ccc;
}

.logo {
   display: flex;
   align-items: center;
   padding: 10px 0 0 20px;
}

.logo h1 {
   margin-left: 10px;
   font-size: 24px;
   color: #333;
}

.nav-links {
   list-style: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 60%;
}

.nav-links li a {
   text-decoration: none;
   color: #333;
   font-size: 18px;
   padding: 8px 12px;
   transition: background-color 0.3s, color 0.3s;
}

.nav-links li a:hover {
   background-color: #333;
   color: #fff;
   border-radius: 4px;
}

.nav-links li a.active {
   background-color: #007bff;
   color: #fff;
   border-radius: 4px;
}

.news-sec {
   display: flex;
   width: 100%;
}

.main-content {
   width: 70%;
   padding: 20px;
}

.sidebar {
   width: 30%;
   padding: 20px;
   background-color: #e9e9e9;
}

.sidebar h3 {
   margin-bottom: 15px;
   font-size: 22px;
   color: #333;
}

.sidebar ul {
   list-style: none;
}

.sidebar ul li {
   margin-bottom: 10px;
}

.sidebar ul li a {
   text-decoration: none;
   color: #007bff;
   font-size: 16px;
   transition: color 0.3s;
}

.sidebar ul li a:hover {
   color: #0056b3;
}

article {
   display: flex;
   align-items: center;
}

article img {
   width: 200px;
   margin-right: 20px;
   object-fit: cover;
}

article h2 {
   margin-bottom: 10px;
   font-size: 24px;
   color: #333;
}

article p {
   font-size: 16px;
   line-height: 1.6;
   color: #555;
}

.read-more {
   text-decoration: none;
   color: #007bff;
   transition: color 0.3s;
}

.read-more:hover {
   color: #0056b3;
}

.footer {
   text-align: center;
   padding: 10px 0;
   background-color: #333;
   color: #fff;
   width: 100%;
   bottom: 0;
}

footer ul {
   list-style: none;
   display: flex;
   justify-content: center;
   padding: 10px 0;
}

footer ul li {
   margin: 0 15px;
}

footer ul li a {
   text-decoration: none;
   color: #6767ff;
   font-size: 16px;
   transition: color 0.3s;
}

footer ul li a:hover {
   color: #ffffff;
}
